In [110]:
import src.create_geoindex as geo
import pandas as pd

In [34]:
len(collections)

8

In [35]:
collections = ["airport_sanjose_ca","elementary_school_sanjose_ca","kindergarten_sanjose_ca","night_clubs_sanjose_ca","starbucks_sanjose","train_stations_sanjose_ca","vegan_restaurants_sanjose_ca","startups_sanjose_ca"]

In [85]:
db, coll = geo.connectCollection("companies","startups_sanjose_ca")
potential_places = list(coll.find({"geometry.location.lat":{"$ne":None},"geometry.location.lng":{"$ne":None}}))

In [86]:
for place in potential_places:
    print(place['location'])

[{'type': 'Point', 'coordinates': [-121.8930162, 37.3346871]}]
[{'type': 'Point', 'coordinates': [-121.9248667, 37.3843212]}]
[{'type': 'Point', 'coordinates': [-121.9203329, 37.3772716]}]
[{'type': 'Point', 'coordinates': [-121.8941136, 37.3375816]}]
[{'type': 'Point', 'coordinates': [-121.9453545, 37.3227596]}]
[{'type': 'Point', 'coordinates': [-121.9216989, 37.3681982]}]
[{'type': 'Point', 'coordinates': [-121.9485017, 37.317553]}]
[{'type': 'Point', 'coordinates': [-122.0997643, 37.4259585]}]
[{'type': 'Point', 'coordinates': [-121.778221, 37.236048]}]

In [87]:
len(potential_places)

9

In [99]:
db1, coll1 = geo.connectCollection("companies","startups_sanjose_ca")
db2, coll2 = geo.connectCollection("companies","elementary_school_sanjose_ca")

In [100]:
potential_places = list(coll1.find({"geometry.location.lat":{"$ne":None},"geometry.location.lng":{"$ne":None}}))

In [112]:
potential_places[0]['name']

'Savioke'

In [165]:
def get_points(coll,geoindex,radius):
    near_places = coll.find(
        {"location":
         {"$near":
          {"$geometry":
           geoindex,
            "$maxDistance":radius
           }
          }
        }
    )
    near_places = list(near_places)
    return near_places

In [191]:
dicti = {
    'name':[],
    'elementary_school':[]
}
for potential_place in potential_places:
    dicti['name'].append(potential_place['name'])
    dicti['elementary_school'].append(len(get_points(coll2,potential_place['location'],2000)))

In [192]:
dicti

{'name': ['Savioke',
  'Signifyd',
  'Trustlook Inc.',
  'Whatfix',
  'CNEX Labs, Inc.',
  'uSens, Inc.',
  'Petzila',
  'Stratio, Inc.',
  'IntelliVision'],
 'elementary_school': [5, 0, 1, 4, 1, 1, 1, 0, 0]}

In [234]:
ranking = pd.DataFrame(dicti)
total = {'total':[]}
for e in range(len(dicti['name'])):
    total['total'].append(dicti['elementary_school'][e]*0.3)

In [241]:
total_series = pd.Series(total)
total_series

total    [1.5, 0.0, 0.3, 1.2, 0.3, 0.3, 0.3, 0.0, 0.0]
dtype: object

In [242]:
ranking['total'] = total_series[0]

In [243]:
ranking

              name  elementary_school  total
0          Savioke                  5    1.5
1         Signifyd                  0    0.0
2   Trustlook Inc.                  1    0.3
3          Whatfix                  4    1.2
4  CNEX Labs, Inc.                  1    0.3
5      uSens, Inc.                  1    0.3
6          Petzila                  1    0.3
7    Stratio, Inc.                  0    0.0
8    IntelliVision                  0    0.0

In [19]:
collections = ["airport_sanjose_ca","elementary_school_sanjose_ca","kindergarten_sanjose_ca","night_clubs_sanjose_ca","starbucks_sanjose","train_stations_sanjose_ca","vegan_restaurants_sanjose_ca"]

In [20]:
radius_points = {
    'airport' : 20000,
    'train_station' : 2000,
    'elementary_school' : 1000,
    'kindergarten' : 1000,
    'night_club' : 500,
    'starbucks' : 200,
    'vegan_restaurant' : 200        
    }

In [27]:
def places_radius(name):
    radius = 0
    for x,y in radius_points.items():

        if x in name:
            radius = y
    return radius

In [28]:
for collection in collections:
    print(collection)
    print(places_radius(collection))

airport_sanjose_ca
20000
elementary_school_sanjose_ca
0
kindergarten_sanjose_ca
0
night_clubs_sanjose_ca
0
starbucks_sanjose
0
train_stations_sanjose_ca
0
vegan_restaurants_sanjose_ca
0

In [ ]:
points = {
       'airport' : 0.2,
       'train_station' : 0.2,
       'elementary_school' : 0.3,
       'kindergarten' : 0.3,
        'night_club' : 0.7,
        'starbucks' : 0.5,
        'vegan_restaurant' : 0.4        
        }

In [35]:
import pandas as pd
total_ranking = pd.DataFrame("name","airport_sanjose_ca","total_airport_sanjose_ca","elementary_school_sanjose_ca","total_elementary_school_sanjose_ca"
                      "kindergarten_sanjose_ca","total_kindergarten_sanjose_ca","night_clubs_sanjose_ca","total_night_clubs_sanjose_ca", "starbucks_sanjose",
                      "total_starbucks_sanjose","train_stations_sanjose_ca","total_train_stations_sanjose_ca","vegan_restaurants_sanjose_ca","total_vegan_restaurants_sanjose_ca")

TypeError: __init__() takes from 1 to 6 positional arguments but 15 were given

In [0]:
len(total_ranking)